Package: drauger-sources
Version: 0.0.2
Maintainer: Thomas Castleman <batcastle@draugeros.org>
Section: admin
Architecture: all
Priority: optional
Depends: apt (>=1.6.6), ubuntu-keyring (>=2023.11.28.1)
Description: Drauger OS Sources and keyfiles
 This package provides the sources and GPG key files to use Drauger OS with.

